body{

  text-align: center;
  background-color:  #EAF4F4;
  border: 8px solid #62466B;

}

.s1{
  background-color: #EAF4F4;
}

h1,h2{
  color: #66BFBF;
  font-size: 38px;
  font-family: 'Sacramento', cursive;
}

.top-cloud{
  position:relative;
  left: 290px;

}

.bottom-cloud{
  position: relative;
  bottom: 280px;
}

.photo{
  width: 17%;
  margin-top: 4%;
}
.h{
  font-family: serif;
  color: #66BFBF;
}



.gap{
  font-size: 30px;

}



.computer{
  width: 25%;
  float: left;
  margin-right: 30px;
  margin-top: -15px;
}

.s3{
  margin: 100px 0;

}



.s31{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}


.intro{
  width: 30%;
  margin: auto;
  color: #2D2327;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}


.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}



.button {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}



.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.getIn{
  font-family: serif;
}

div{
  background-color:  #EAF4F4;
}

p{
  color: #2D2327;
  font-size: 20px;
}
